<launch>
	
	<arg name="paused" default="false"/>
    <arg name="sys_plugin_path" default="-g libClickListner.so"/>
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="paused" value="$(arg paused)"/>
        <arg name="world_name" value="$(find robot_gazebo)/worlds/robot.world" />
        <!-- <arg name="verbose" value="true" /> -->
        <arg name="gui" value="false"/>
    </include>
    <node name="gazebo_gui" pkg="gazebo_ros" type="gzclient" respawn="false" output="screen" args="$(arg sys_plugin_path)"/>
    <!-- <node name="gazebo_2" pkg="gazebo_ros" type="debug" respawn="false" output="screen" args=" -g ../../../devel/lib/libClickListner.so"></node> -->
    <node name="robot_sdf" pkg="gazebo_ros" type="spawn_model" args="-file $(find robot_description)/models/model.sdf -sdf -model robot">
    </node>
    
    <!-- <node name="boxes_sdf" pkg="gazebo_ros" type="spawn_model" args="-file $(find robot_description)/models/boxes.sdf -sdf -model boxes">
    </node> -->

    <node name="maze_sdf" pkg="gazebo_ros" type="spawn_model" args="-file $(find robot_description)/models/maze.sdf -sdf -model maze">
    </node>
    
    <node name="IK" pkg="robot_gazebo" type="arm_control.py" output="screen" />

    <node name="gripper_controller" pkg="robot_gazebo" type="gripper_control.py" output="screen" />
    <node name="nav" pkg="robot_lib" type="nav" output="screen" />
    <node name="rviz" pkg="rviz" type="rviz" output="screen" />
    <node name="Slam" pkg="robot_planner" type="Slam" output="screen" >
        <param  name="kh" value="1"></param>
        <param  name="sensor_offset" value="0.28"></param>
        <param  name="robo_radius" value="0.3"></param>
        <param  name="sampleSize" value="720"></param>
        <param  name="mapSize" value="2000"></param>
        <param  name="cellSize" value="0.2"></param>
    </node>
</launch>